
extends layout

block content
  body
   img#logo(src="/imgs/community-draw-logo.png" alt="Community Draw Logo")
   p.intro Welcome to Community Draw where you can make fun projects and collaborate with other artists around the world!
   form(action='/new',method='post')
    button(type='submit') Start a New Project
   a(href= "/projects")
    button(onclick='something()') Add to a Project
  
