doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')

    script(type='text/javascript', src='../../js/jquery.event.drag-2.0.js')
    script(src='https://community-draw.herokuapp.com:4000/socket.io/socket.io.js')
    //script(src='http://localhost:4000/socket.io/socket.io.js')
    //script(type='text/javascript', src='js/draw.js')
    //script(type='text/javascript', src='js/script.js')
    //script(type='text/javascript')                                                   
     //var local_data =!{JSON.stringify(canvas)}; 
     
    //script(type='text/javascript', src='../../js/draw.js')
    //script(type='text/javascript', src='../../js/script.js')

    
  body
    block content
     article
     // our canvas will be inserted here
     h1#hey= title
    


