*{
  text-align: center;
}

canvas{
  background:white;
  width: 100%;
  margin: 10px 0;
}

body{
  background: #eee;
  /*padding: 50px;*/
  padding: 0;
  margin: 0;
  position: relative;

}

a{
  color: #00B7FF;
  *: unset;
}

img#logo{
 /* margin: 0;*/
  width: 50%;
  display: inline-block;
  text-align: center;
}

#hey{
  color: white;
}

.intro{
  color: #727272;

  font-family: 'Roboto', sans-serif;
}

button{
  color: white;
  background-color: #D9604E;
  border-radius: 25px;
  border: 0;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  width: 300px;
 /* height: 300px;*/
 padding: 10px 40px;
 margin: 10px ;
}

button:hover{
  background-color: #7FBBA9;
}